@import "tailwindcss";

@theme {
  --color-brand-green: #064E3B;
  --color-brand-gold: #D4AF37;
  --color-brand-light: #F9FAFB;
  --color-brand-dark: #111827;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
}
